<%= form_for(@alum, :url => alum_path(@alum)) do |f| %>
  <% if @alum.errors.any? %>
    <h2><%= pluralize(@alum.errors.count, "error") %> prohibited this alum from being created:</h2>
    <div class="alert alert-danger">
      <% @alum.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg %>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :perm_email, 'Permanent email' %>
    <%= f.text_field :perm_email, :type => 'email' %>
  </div>
  <div class="field">
    <%= f.label :mailing_list, 'Yes, add me to the alumni mailing list!' %>
    <div>You'll receive periodic news/updates about HKN, including Alumni events.</div>
    <%= f.check_box :mailing_list%>
  </div>
  <div class="field">
    <%= label_tag :grad_semester, 'Semester graduated (from Ugrad)' %>
    <%= select_tag :grad_season, options_for_select(Alum::SEASONS, @grad_semester) %>
    <%= select_tag :grad_year, options_for_select(Alum.years, @grad_year), :style => 'padding-bottom: 10px;' %>
    <br style="clear: both;" />
  </div>
  <div class="field">
    <%= f.label :grad_school %>
    <%= f.text_field :grad_school %>
  </div>
  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :salary %>
    <%= f.text_field :salary, :value => number_to_currency(@alum.salary, :unit => "$", precision: 0) %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :suggestions, 'Have any suggestions for Alumrel?' %>
    <div>(more/different types of alumni activities, etc.)</div>
    <%= f.text_area :suggestions %>
  </div>
  <div class="field-submit">
    <%= f.submit "Submit"%>
  </div>
<% end %>
