<p id="notice"><%= notice %></p>

<p>
  <strong>Grad semester:</strong>
  <%= @alum.grad_semester %>
</p>

<p>
  <strong>Grad school:</strong>
  <%= @alum.grad_school %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @alum.job_title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @alum.company %>
</p>

<p>
  <strong>Salary:</strong>
  <%= number_to_currency(@alum.salary, :unit => "$", precision: 0) %>
</p>

<p>
  <strong>User:</strong>
  <%= @alum.user.username %>
</p>

<p>
  <strong>Permanent email:</strong>
  <%= @alum.perm_email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alum.location %>
</p>

<p>
  <strong>Suggestions:</strong>
  <%= @alum.suggestions %>
</p>

<p>
  <strong>Mailing list:</strong>
  <%= @alum.mailing_list %>
</p>

<%= link_to 'Edit', edit_alum_path(@alum) %> |
<%= link_to 'Destroy', @alum, method: :delete, data: { confirm: 'Are you sure?' } %>
<% if authorize(:alumrel) %>
  | <%= link_to 'Index', alum_index_path %>
<% end %>
