<h1>Listing resume_books</h1>

<ul>
  <li><%= link_to "Generate a new resume book", new_resume_book_path  %></li>
  <li><%= render 'missing_form' %></li>
  <li><%= link_to "list of all HKN Members and their resume upload statuses.", resumes_status_list_path %>
   (You can also use this page to upload a resume for a certain person)
  </li>
</ul>
<table>
  <thead>
    <tr>
      <th>Creation Date</th>
      <th>Remarks</th>
      <th>PDF File</th>
      <th>Iso File</th>
      <th>Cutoff date</th>
      <th>Details</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resume_books.each do |resume_book| %>
      <tr>
        <td><%= resume_book.created_at %></td>
        <td><%= resume_book.remarks %></td>
        <td><%= link_to "Download PDF", resume_book_download_pdf_path(resume_book.id) %></td>
        <td><%= link_to "Download ISO", resume_book_download_iso_path(resume_book.id) %></td>
        <td><%= resume_book.cutoff_date %></td>
        <td><%= resume_book.details %></td>
        <td><%= link_to 'Show', resume_book %></td>
        <td><%= link_to 'Destroy', resume_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

