<p><%= link_to "Download PDF", resume_book_download_pdf_path(@resume_book.id) %></p>
<p><%= link_to "Download ISO", resume_book_download_iso_path(@resume_book.id) %></p>
<p>Resume book cutoff date: <%= @resume_book.cutoff_date %></p>
<p>Resume book generated on <%= @resume_book.created_at %></p>

<p>
  <strong>Title:</strong>
  <%= @resume_book.title %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @resume_book.remarks %>
</p>

<p>
  <strong>Details:</strong>
  <%= @resume_book.details %>
</p>

<%= link_to 'Destroy', @resume_book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', resume_books_path %>
