<h1>VP Admin</h1>
<ul>
  <li><%= link_to "Eligibilities", 'admin_eligibilities_url' %></li>
  <li><%= link_to "Confirm Candidate Accounts", users_list_path('candidates', approved: "false") %></li>
  <li><%= link_to "Candidate Announcements", announcements_path %></li>
  <li><%= link_to "Confirm RSVPs", confirm_rsvps_index_path(:candidates) %></li>
  <li><%= link_to "Super Page", admin_vp_super_page_path %></li>
  <li><%= link_to 'Cand Applications', admin_cand_applications_path %></li>
</ul>
