<h1>Account Settings <%= "for #{@user.full_name}" if @user.id != current_user.id %></h1>
<p>Note: You must enter in your current password to make any changes to your settings.</p>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this user from being saved:</h2>
    <div class="alert alert-danger">
    <% @person.errors.full_messages.each do |msg| %>
      <%= content_tag :li, msg %>
    <% end %>
  </div>
  <% end %>
  <%# @f = f%>
  <%#= render :partial => "current_resume", :locals => { :f  => @f }%>

  <div class="field">
    <%= f.label :username %>
    <%= @user.username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <% if authorize(:bridge) %>
    <div class="field">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :private, "Keep my profile private" %>
    <%= f.check_box :private %>
  </div>

  <h4>Change Password</h4>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => "off" %><i>(leave blank if you don't want to change it)</i>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <h4>Additional Information</h4>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :mobile_carrier_id, "Mobile Carrier" %>
    <%= collection_select(:user, :mobile_carrier_id, @mobile_carriers, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :sms_alerts, "Would you like to receive SMS alerts for events?" %>
    <%= f.check_box :sms_alerts %>
    <div>Checking this box will enable you to receive an SMS text message two hours before events you have RSVP'd for. (Requires you to enter in a valid 10-digit phone number and a mobile carrier.) (Disclaimer: HKN is not responsible for any surcharges incurred from receiving SMS messages.)
    </div>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, :start_year=>1950, :end_year => Time.now.year %>
  </div>

  <h4>Password</h4>
  <div class="field">
    <%= label :password, :current, "Current Password" %>
    <%= password_field :password, :current %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<%- end -%>
