<h1><%= @event.title %> confirmation for <%= @role %></h1>

<%= link_to raw('&larr;back'), confirm_rsvps_index_path(@role) %>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <% @rsvps.each do |rsvp| %>
  <tr>
    <td><%= rsvp.user.full_name %></td>

    <% if rsvp.confirmed == "t" %>
    <td>Confirmed</td>
    <td>
      <%= link_to "Unconfirm", unconfirm_rsvp_path(rsvp.id, :role => @role) %> |
      <%= link_to "Reject", reject_rsvp_path(rsvp.id, :role => @role) %>
    </td>
    <% elsif rsvp.confirmed == "r" %>
    <td>Rejected</td>
    <td>
      <%= link_to "Confirm", confirm_rsvp_path(rsvp.id, :role => @role) %> |
      <%= link_to "Unconfirm", unconfirm_rsvp_path(rsvp.id, :role => @role) %>
    </td>
    <% else %>
    <td>Not Confirmed</td>
    <td>
      <%= link_to "Confirm", confirm_rsvp_path(rsvp.id, :role => @role) %> |
      <%= link_to "Reject", reject_rsvp_path(rsvp.id, :role => @role) %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
