<h1>Listing Resume Book urls</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Expiration date</th>
      <th>Company</th>
      <th>Downloads</th>
      <th>Transaction id</th>
      <th>Expired?</th>
      <th>Created</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resume_book_urls.each do |resume_book_url| %>
      <tr>
        <td><%= link_to resume_book_url.resume_book_id, resume_book_path(resume_book_url.resume_book_id) %></td>
        <td><%= resume_book_url.expiration_date.strftime("%B %d, %Y at %I:%M %p") %></td>
        <td><%= resume_book_url.company %></td>
        <td><%= resume_book_url.download_count %></td>
        <td><%= resume_book_url.transaction_id %></td>
        <td><%= resume_book_url.expired? %></td>
        <td><%= resume_book_url.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
        <td><%= link_to 'Show', resume_book_url %></td>
        <td><%= link_to 'Edit', edit_resume_book_url_path(resume_book_url) %></td>
        <td><%= link_to 'Destroy', resume_book_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume book url', new_resume_book_url_path %> |
<%= link_to 'To Resume Book admin page', resume_books_path %>
