<h1>Listing resume_book_urls</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Expiration date</th>
      <th>Company</th>
      <th>Downloads</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resume_book_urls.each do |resume_book_url| %>
      <tr>
        <td><%= resume_book_url.resume_book_id %></td>
        <td><%= resume_book_url.expiration_date.strftime("%B %d, %Y at %I:%M %p") %></td>
        <td><%= resume_book_url.company %></td>
        <td><%= resume_book_url.download_count %></td>
        <td><%= link_to 'Show', resume_book_url %></td>
        <td><%= link_to 'Edit', edit_resume_book_url_path(resume_book_url) %></td>
        <td><%= link_to 'Destroy', resume_book_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume book url', new_resume_book_url_path %>
