<h1>My RSVPs</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Confirmed?</th>
    <th></th>
    <% if comm_authorize %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @rsvps.each do |rsvp| %>
  <tr>
    <td><%= rsvp.event.title %></td>
    <td><%= rsvp.confirmed == 't' ? "Yes" : "No" %></td>
    <td><%= link_to 'Show', rsvp_path(rsvp) %></td>
    <% if comm_authorize %>
      <td class='admin'><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
      <td class='admin'><%= link_to 'Destroy', rsvp_path(rsvp), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
