<%= form_for(@alum) do |f| %>
  <div class="field">
    <%= f.label :perm_email, 'Permanent email' %>
    <%= f.text_field :perm_email, :type => 'email' %>
  </div>
  <div class="field">
    <%= f.label :mailing_list, 'Yes, add me to the alumni mailing list!' %>
    <div>You'll receive periodic news/updates about HKN, including Alumni events.</div>
    <%= f.check_box :mailing_list%>
  </div>
  <%= hidden_field_tag(:on_mailing_list, @alum.mailing_list) %>
  <div class="field">
    <%= label_tag :grad_semester, 'Semester graduated (from Ugrad)' %>
    <%= select_tag :grad_season, options_for_select(Alum::SEASONS) %>
    <%= select_year Date.today, :field_name => :year, :prefix => 'grad', :end_year => 1915, :start_year => Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :grad_school %>
    <%= f.text_field :grad_school %>
  </div>
  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :salary %>
    <%= f.text_field :salary, :value=> (if @alum.salary then pretty_salary(@alum.salary) else "" end)%>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :suggestions, 'Have any suggestions for Alumrel?' %>
    <div>(more/different types of alumni activities, etc.)</div>
    <%= f.text_area :suggestions %>
  </div>
  <div class="field-submit">
    <%= f.submit "Submit"%>
  </div>
<% end %>
