<h1>Resume Book Order Form</h1>
<h2>University of California, Berkeley</h2>

<p>With our resume book, you will receieve:</p>
<ul>
  <li>Resumes of EECS students who are in the top quarter of their junior class or the top third of their senior class</li>
  <li>Most of our members have research and work experience in their fields of interest</li>
  <li>Electronic edition is in ready-to-print Portable Document Format (.pdf)</li>
</ul>

<p>We ask for a tax-deductible $250 donation for each resume book.</p>

<%= form_tag "https://www.sandbox.paypal.com/cgi-bin/websrc" do %>
  <%= hidden_field_tag :cmd, "_s-xclick" %>
  <%= hidden_field_tag :encrypted, @paypal %>
  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
<% end %>

<p>By paying with paypal you will immediately recieve a uniquely generated download link to our resume book</p>
<p>If something goes wrong but you have your paypal transaction ID please submit it through the form below</p>
<%= form_tag resume_books_transaction_id_path do |f| %>
  <div class="field">
    <%= label_tag "transaction_id", "Paypal Transaction ID" %>
    <%= text_field_tag :transaction_id %>
  </div>
  <div class="field-submit">
    <%= submit_tag "Submit"%>
  </div>
<% end %>
