<p>
  <b>Department:</b>
  <%= @course.department %>
</p>

<p>
  <b>Course Name:</b>
  <%= @course.course_name %>
</p>

<p>
  <b>Units:</b>
  <%= @course.units %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
