<h4>Current Challenges</h4>

<% if @challenges.length > 0 %>
  <% @challenges.each do |challenge| %>
    <span class="<%= "event_status " +
        (challenge.confirmed ? 'event_done' :
        (challenge.rejected ? 'rejected' : 'event_notdone'))%>"></span>
    <strong><%= challenge.name %></strong>
    - <%= User.find_by_id(challenge.requester_id).username %>
  <% end %>
<% else %>
  No challenges requested
<% end %>

<h4>Request a Challenge</h4>

<%= form_for(Challenge.new) do |f| %>
  <div class="field">
    <%= label_tag "Find Officer" %>
    <%= text_field_tag "officer", nil, :id => 'officer_field' %>
    <%= hidden_field_tag "officer_id", "", :id => "officer_id" %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
      url: '<%= autocomplete_officer_name_path %>',
      success: function(data) {
        $("#officer_field").autocomplete({
          source: data,
          autoFocus: true,
          select: function( event, ui ) {
            $('#officer_id').val(ui.item.id);
          }
        });
      }
    });
  });
</script>
