<h1>Pending Challenges</h1>
<% @pending.each do |challenge| %>
  <li id='list'>
    <%= link_to "Confirm", challenge_path(:id => challenge.id, :confirmed => true, :rejected => false), 
        :method => 'put', :class => 'btn btn-success' %>
    <%= link_to "Reject", challenge_path(:id => challenge.id, :rejected => true, :confirmed => false), 
        :method => 'put', :class => 'btn btn-danger' %>
    <span class="challenge_name"><%= challenge.name %></span> (requested by <%= 'kacasey' %>)
    <span> <%= challenge.description %></span>
  </li>
<% end %>

<h1>Confirmed Challenges</h1>
<% @confirmed.each do |challenge| %>
  <li id='list'>
    <%= link_to "Reject instead?", challenge_path(:id => challenge.id, :rejected => true, :confirmed => false), 
        :method => 'put', :class => 'btn btn-danger' %>
    <span class="challenge_name"><%= challenge.name %></span> (requested by <%= 'kacasey' %>)
    <span> <%= challenge.description %></span>
  </li>
<% end %>

<h1>Rejected Challenges</h1>
<% @rejected.each do |challenge| %>
  <li id='list'>
    <%= link_to "Confirm instead?", challenge_path(:id => challenge.id, :confirmed => true, :rejected => false), 
        :method => 'put', :class => 'btn btn-success' %>
    <span class="challenge_name"><%= challenge.name %></span> (requested by <%= 'kacasey' %>)
    <span> <%= challenge.description %></span>
  </li>
<% end %>

<br>
