<%= form_for(@dept_tour) do |f| %>

  <div class="field">
    <%= f.label :name, :class => 'required-field' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date, "Desired date & time", :class => 'required-field' %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :email, :class => 'required-field' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= label_tag :email_confirmation, "Re-type email", :class => 'required-field' %>
    <%= text_field_tag :email_confirmation %>
  </div>
  <div class="field">
    <%= f.label :phone, :class => 'required-field' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
