<%= form_for(@dept_tour) do |f| %>
  <% if @dept_tour.errors.any? %>
    <h2><%= pluralize(@dept_tour.errors.count, "error") %> prohibited this department tour from being requested:</h2>
    <div class="alert alert-danger">
      <% @dept_tour.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => 'required-field' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date, "Desired date & time", :class => 'required-field' %>
    <%= f.datetime_select :date, ampm: true, start_year: Time.now.year, default: Time.now %>
  </div>
  <div class="field">
    <%= f.label :email, "Contact email address", :class => 'required-field' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= label_tag :email_confirmation, "Re-type email", :class => 'required-field' %>
    <%= text_field_tag :email_confirmation %>
  </div>
  <div class="field">
    <%= f.label :phone, "Contact phone number", :class => 'required-field' %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :comments, "Additional comments:" %>
    <%= f.text_area :comments %>
  </div>
  <% if @dept_tour.id %>
    <div class="field-group">
      <%= f.label :responded %>
      <%= f.check_box :responded, :class => 'check_box', :checked => @dept_tour.responded ? true : false %>
    </div>
  <% else %>
    <div class="field">
      <br />
      <%# dirty hack to get captcha to align properly %>
      <label>&nbsp;</label>
      <%= recaptcha_tags :ssl=>true, :display=>{:theme=>'clean'} %>
    </div>
  <% end %>
  <div class="field-submit">
    <%= f.submit "Submit request" %>
  </div>
<% end %>

<div>
  <p><span class="required-field"></span> denotes a required field</p>
</div>
