<h1>
  There <%= @dept_tours_requests_length == 1 ? 'is' : 'are' %>
  <%= @dept_tours_requests_length %> outstanding or pending department tour 
  request<%= 's' if @dept_tours_requests_length != 1 %>.
</h1>

<h2>
  <%= pluralize(@dept_tour_requests_unresponded.count, 'request') %> must be responded to:
</h2>
<table>
  <%= render "show_group_of_dept_tours", :group => @dept_tour_requests_unresponded %>
</table>

<h2>
  <%= pluralize(@dept_tour_requests_pending.count, 'request') %>
  <%= @dept_tour_requests_pending.count == 1 ? 'is' : 'are' %> 
  pending:
</h2>
<table>
  <%= render "show_group_of_dept_tours", :group => @dept_tour_requests_pending %>
</table>
