<div id="deptTourContainer">
  <div id="deptTourInfo">
    <% if @dept_tour.responded %>
      <p>This request has been responded to.</p>
    <% else %>
      <p style="color:red">This request has not been responded to!</p>
    <% end %>
    <table>
      <tr>
        <th>Requestee Name</th>
        <td><%= @dept_tour.name %></td>
      </tr>
      <tr>
        <th>Requested Date</th>
        <td><%= @dept_tour.date %></td>
      </tr>
      <tr>
        <th>Date Submitted</th>
        <td><%= @dept_tour.created_at %></td>
      </tr>
      <tr>
        <th>Contact e-mail</th>
        <td><%= @dept_tour.email %></td>
      </tr>
      <tr>
        <th>Contact phone</th>
        <td><%= @dept_tour.phone %></td>
      </tr>
      <tr>
        <th>Additional Comments</th>
        <td><%= @dept_tour.comments %></td>
      </tr>
    </table>
  </div>
  <br />
  <% if !@dept_tour.responded %>
    <div id="responseForm">
      <h2>Response:</h2>
      <%= form_tag @dept_tour, :method=>:post do %>
        <%= label_tag :from, "From: "%> <br/>
        <%= text_field_tag :from, current_user.email, :size=>50 %>
        <br/>
        <%= label_tag :ccs, "Additional CCs (you and deprel will automatically be added):" %> <br/>
        <%= text_field_tag :ccs, "", :size=>50 %>
        <br/>
        <%= label_tag :response, "Response text: " %><br/>
        <%= text_area_tag :response, get_default_response_text(@dept_tour), style: "width: 80%; height: 200px;" %>
        <br />
        <%= submit_tag "Send Response" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_dept_tour_path(@dept_tour) %> |
<%= link_to 'Back', dept_tours_path %>