<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div id="field">
    <%= label_tag "Enter the year:" %>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= label_tag "Choose a semester:" %>
    <%= radio_button :exam, :semester, 'Spring', :checked => true %> Spring
    <%= radio_button :exam, :semester, 'Summer' %> Summer
    <%= radio_button :exam, :semester, 'Fall' %> Fall
  </div>
  <div id="field">
    <%= label_tag "What kind of exam is this?" %>
    <%= radio_button :exam, :exam_type, 'Quiz' %> Quiz
    <%= radio_button :exam, :exam_type, 'Midterm', :checked => true %> Midterm
    <%= radio_button :exam, :exam_type, 'Final' %> Final
  </div>
  <div class="field">
    <%= label_tag "Which exam is it? (ie. midterm #2)
                     Enter in a number.  If it is the only
                     exam of its type, leave this field blank." %>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= label_tag "Is this a solution?" %>
    <%= radio_button :exam, :is_solution, true %> Yes
    <%= radio_button :exam, :is_solution, false, :checked => true %> No
  </div>
  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
