<%= link_to "[#{@exam.is_solution ? 'sol' : 'pdf'}]", @exam.file.url %>

<p>
  <strong>Course:</strong>
  <%= @exam.course_offering.course.course_abbr %>
</p>

<p>
  <strong>Exam type:</strong>
  <%= @exam.exam_type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @exam.number %>
</p>

<p>
  <strong>Is solution:</strong>
  <%= @exam.is_solution %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @exam.course_offering.course_semester.season %>
</p>

<p>
  <strong>Year:</strong>
  <%= @exam.course_offering.course_semester.year %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %> |
<%= link_to 'Destroy this exam', @exam, method: :delete, data: { confirm: 'Are you sure?' } %>
