<h1> Résumés </h1>

<table>
  <thead>
    <tr>
      <th>Upload Date</th>
      <th>Overall gpa</th>
      <th>File Location</th>
      <th>User</th>
      <th>Included</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.file_updated_at %></td>
        <td><%= resume.overall_gpa %></td>
        <td><%= resume.file.path.split(Rails.root.to_s)[1] %></td>
        <td><%= resume.get_full_name %></td>
        <td><%= resume.included %></td>
        <td><%= link_to 'Show', resume %></td>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path %>
