<h1>Listing resumes</h1>

<table>
  <thead>
    <tr>
      <th>Overall gpa</th>
      <th>Major gpa</th>
      <th>Resume text</th>
      <th>Graduation year</th>
      <th>Graduation semester</th>
      <th>User</th>
      <th>Included</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.overall_gpa %></td>
        <td><%= resume.major_gpa %></td>
        <td><%= resume.resume_text %></td>
        <td><%= resume.graduation_year %></td>
        <td><%= resume.graduation_semester %></td>
        <td><%= resume.user.username %></td>
        <td><%= resume.included %></td>
        <td><%= link_to 'Show', resume %></td>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path %>
