<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
    <div class="alert alert-danger">
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
