<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @location.capacity %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @location.comments %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
