<div class="submenu services_submenu">
  <ul class="plain">
    <li><a href="/tutor/">Tutoring Hours</a></li>
    <li><a href="/tutor/calendar">Review Sessions</a></li>
    <li><%= link_to "Exam Archive", exams_path %></li>
  </ul>
  <ul class="plain">
    <li><%= link_to "Course Surveys", "/" %></li>
    <li><%= link_to "Course Guide", "/" %></li>
    <li><%= link_to "Department Tours", new_dept_tour_path %></li>
  </ul>
</div>

<div class="submenu indrel_submenu">
  <ul class="plain">
    <li><%= link_to "Why HKN?", indrel_path %></li>
    <li><%= link_to "Resume Books", resume_books_about_path %></li>
    <li><%= link_to "Infosessions", infosessions_path %></li>
  </ul>
  <ul class="plain">
    <li><%= link_to "Career Fair", career_fair_path %></li>
    <li><%= link_to "Contact Us", indrel_contact_us_path %></li>
  </ul>
</div>

<% if user_signed_in? %>
  <div class="submenu people_submenu">
    <ul class="plain">
      <li><%= link_to "Officers", users_list_path('officers') %></li>
      <li><%= link_to "Committee Members", users_list_path('committee_members') %></li>
      <li><%= link_to "Members", users_list_path('members') %></li>
    </ul>
    <ul class="plain">
      <li><%= link_to "Candidates", users_list_path('candidates') %></li>
      <li><%= link_to 'Election Details', 'admin_election_details_path', :class => "navigation_sublevel_item" %></li>
      <% if current_user.is_active_member? %>
        <li><%= link_to 'Contact Card', 'contact_card_path', :class => 'navigation_sublevel_item'  %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="submenu events_submenu">
  <ul class="plain">
    <li><%= link_to "Events Calendar", "/" %></li>
    <li><%= link_to "Upcoming Events", "/" %></li>
    <li><%= link_to "Past Events", "/" %></li>
  </ul>
  <% if user_signed_in? %>
    <ul class="plain">
      <li><%= link_to "My RSVPs", 'my_rsvps_path' %></li>
    <% if user_signed_in? && current_user.is_active_member? %>
      <li><%= link_to "New Event", 'new_event_path' %></li>
      <li><%= link_to "Leaderboard", 'leaderboard_path' %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<div class="submenu alumni_submenu">
  <ul class="plain">
    <% if user_signed_in? && current_user.alum %>
      <li><%= link_to "View My Alumnus/Alumna Information", edit_alum_path(current_user.alum) %></li>
    <% else %>
      <li><%= link_to "Create Alumnus/Alumna", new_alum_path %></li>
    <% end %>
  </ul>
</div>

<div class="submenu about_submenu">
  <ul class="plain">
    <li><%= link_to 'Contact Information', contact_path, :class => 'navigation_sublevel_item'  %></li>
    <li><%= link_to "Photo Gallery", "/gallery3/", :class=>"navigation_sublevel_item" %></li>
    <li><%= link_to "Yearbooks",     "/about/yearbook/",            :class=>"navigation_sublevel_item" %></li>
  </ul>
  <ul class="plain">
    <li><a href="/about/slideshow/" class="navigation_sublevel_item">Slideshows</a></li>
    <li><%= link_to "Current Officers", about_officers_path, :class=>"navigation_sublevel_item" %></li>
    <li><%= link_to "Current Committee Members", "/about/cmembers/", :class=>"navigation_sublevel_item" %></li>
  </ul>
</div>

<% if user_signed_in? && candidate_authorize %>
  <div class="submenu cand_submenu">
    <ul class="plain">
      <li><%= link_to "Portal Home", candidate_portal_path, :class=>"navigation_sublevel_item" %></li>
      <li><a href="/cand/application/" class="navigation_sublevel_item">Application Form</a></li>
      <li><a href="/~vp" class="navigation_sublevel_item">Candidate Information</a></li>
    </ul>
  </div>
<% end %>

<% if user_signed_in? && current_user.is_active_member? %>
  <div class="submenu admin_submenu">
    <ul class="plain">
      <li><a href="/admin/tutor/signup_slots/" class="navigation_sublevel_item">Tutor Slot Signup</a></li>
      <li><a href="/admin/tutor/signup_courses/" class="navigation_sublevel_item">Tutor Course Signup</a></li>
      <li><a href="/admin/tutor/edit_schedule/" class="navigation_sublevel_item">View Tutor Signups</a></li>
    </ul>
    <ul class="plain">
      <li><%= link_to "Confirm Challenges", challenges_path, :class=>"navigation_sublevel_item" %></li>
      <% if authorize(:studrel) %>
        <li><a href="/admin/studrel/" class="navigation_sublevel_item">Studrel Admin</a></li>
      <% end %>
      <% if authorize(:tutoring) %>
        <li><a href="/admin/tutor/" class="navigation_sublevel_item">Tutor Admin</a></li>
      <% end %>
      <% if authorize(:csec) %>
        <li><a href="/admin/csec" class="navigation_sublevel_item">Csec Admin</a></li>
      <% end %>
      <% if authorize(:rsec) %>
        <li><%= link_to 'Rsec Admin', 'admin_rsec_path', :class => 'navigation_sublevel_item'  %></li>
      <% end %>
      <% if authorize(:deprel) %>
        <li><a href="/admin/deprel" class="navigation_sublevel_item">Deprel Admin [<%= 'controller.num_deprel_requests' %>]</a></li>
      <% end %>
      <% if authorize(:indrel) %>
        <li><a href="/admin/indrel/" class="navigation_sublevel_item">Indrel Admin</a></li>
      <% end %>
      <% if authorize(:bridge) %>
        <li><%= link_to 'Bridge Admin', admin_bridge_path, :class => 'navigation_sublevel_item'  %></li>
      <% end %>
      <% if authorize(:vp) %>
        <li><%= link_to "VP Admin", admin_vp_path, :class => "navigation_sublevel_item" %></li>
      <% end %>
      <% if authorize(:pres) %>
        <li><%= link_to "Pres Admin", 'admin_pres_path', :class => "navigation_sublevel_item" %></li>
      <% end %>
      <% if authorize(:alumrel) %>
        <li><%= link_to "Alumrel Admin", alum_index_path, :class => "navigation_sublevel_item" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
