<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Eta Kappa Nu (HKN), Mu Chapter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Puritan|Cuprum' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="navigation">
        <% if user_signed_in? %>
          <span id="userbar" class="userbar">Welcome, <%= link_to current_user.full_name, 'javascript:;' %></span>
          <span class="userbar" id="user-dropdown">
            <span class="list-item"><%= link_to '<span class="icon" id="settings"></span> Settings'.html_safe, edit_user_path(current_user) %></span>
            <span class="list-item"><%= link_to '<span class="icon" id="logout"></span> Logout'.html_safe, destroy_user_session_path, :method => :delete %></span>
            <span id="username" style="display:none;"><%= current_user.username %></span>
          </span>
        <% else %>
          <span class="userbar"><%= link_to "Log In", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %></span>
          <span id="username" style="display:none;">guest</span>
        <% end %>

        <%= render 'notifications/notifications' if comm_authorize %>

        <ul>
          <li><a class="navigation_toplevel_item" id="services" href="#">Student Services</a></li>
          <li><a class="navigation_toplevel_item" id="indrel" href="#">Industry Relations</a></li>
          <li><a class="navigation_toplevel_item" id="events" href="#">Events</a></li>

          <% if user_signed_in? %>
            <li><a class="navigation_toplevel_item" id="people" href="#">People</a></li>
          <% end %>

          <li><a class="navigation_toplevel_item" id="alumni" href="#">Alumni Network</a></li>
          <li><a class="navigation_toplevel_item" id="about" href="#">About HKN</a></li>
          <% if candidate_authorize %>
            <li><a class="navigation_toplevel_item" id="cand" href="#">Candidate Portal</a></li>
          <% end %>
          <% if comm_authorize %>
            <li><a class="navigation_toplevel_item" id="admin" href="#">Admin</a></li>
          <% end %>
        </ul>

        <div class="clear"></div>
      </div>

      <div id="lower">
        <div id="submenu-thin">
          <%= render "layouts/officer_submenu" %>
        </div>

        <div id="logo">
          <%= link_to root_path do %>
            <%= image_tag("hkn_logo.png", :alt => "Eta Kappa Nu, Mu Chapter") %>
          <% end %>
        </div>

        <div id="submenu">
          <%= render "layouts/officer_submenu" %>
        </div>

        <div id="topbar">
          <%= render "layouts/searcharea" %>
          <div class="clear"></div>
        </div>

        <div class="clear"></div>
      </div>
    </div>

    <div id="content">
      <div id="container">
        <%= render partial: "shared/flash" %>
        <%= yield %>
      </div>
    </div>

    <div id="push"></div>

  </div>

  <div id="footer">
    <div id="footer-right">Eta Kappa Nu, Mu Chapter</div>
    <div id="footer-left"><%= link_to "HOME", root_url %> | <%= link_to "CONTACT", contact_path %> </div>
  </div>

</body>

</html>
